/*My CSS Style Sheet for personal webpage*/

html {
	font-family: Verdana, Tahoma, sans-serif; 
} 


.col-md-3{
  border: 1px solid;
    padding: 10px;
  box-shadow: 5px 10px;
  margin-left: 8.3%;

}
.col-md-3 p{

	font: 17px Tahoma, sans-serif;
}